<%- include('./partials/header') %>

<main class="container my-5 py-5 text-center">
  <div class="alert alert-success mt-5">
    
    <h1> Bem vindo <%= usuario %></h1>

    <p> <% listaUsuario.forEach(element => {%> 
      
    <p>Nome: <%= element.nome%></p>
    <p>Email: <%= element.email%></p>
    <% });%>
    </p>
  </div>
</main>

<%- include('./partials/footer') %>